/******************************************************************

Stylesheet: Settings Stylesheet

Like, for colors n'at.

******************************************************************/



/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #000;
$white:             #fff;

$bones-pink:        #f01d4f;
$bones-blue:        #1990db;

$link-color:        $bones-pink;
$link-hover:        darken($link-color, 9%);

/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/

$main-font-clr: 	$black;

$light-accent: 		$bones-blue;
$medium-accent: 	$bones-blue;
$dark-accent: 		$bones-blue;

$btn-color: 		$bones-blue;


/*********************
TYPOGRAPHY
*********************/

// Rem Units
// http://gregrickaby.com/using-the-golden-ratio-and-rems/

$sml:  				1.4rem;
$default:  			1.6rem;
$line-height-base: 	1.625;

$h1:  				4.7rem;
$h2:  				2.9rem;
$h3:  				2.3rem;
$h4:  				$default;
$h5:  				$sml;



$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;
